@charset "ISO-8859-1";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccccff;
  background: url('/7.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width:100%;
  backdrop-filter:blur(13px);
}






